{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_prime/drawers

    prime Drawers layout template.

    Main layout for general pages. Renders the header, the course index
    drawer (left), the main content region, the side-pre and side-post
    block regions and the footer.

    Context variables required for this template:
    * sitename - The name of the site.
    * output - The core renderer for the page.
    * bodyattributes - Attributes for the body tag as a string of HTML attributes.
    * sidepreblocks - HTML for the side-pre blocks.
    * sidepostblocks - HTML for the side-post blocks.
    * hasblocks - True if there are blocks on this page.
    * courseindex - HTML for the course index.
    * courseindexopen - True if the course index drawer should be open on page load.
    * regionmainsettingsmenu - HTML for the region main settings menu.
    * hasregionmainsettingsmenu - True if there is a region main settings menu.
    * secondarymoremenu - HTML for the secondary navigation menu.
    * headercontent - True if the page has an activity header.
    * overflow - True if the activity has an overflow menu (url select).
    * addblockbutton - HTML for the "Add block" button.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>",
            "full_header": "",
            "standard_top_of_body_html": "",
            "standard_after_main_region_html": "",
            "course_content_header": "",
            "course_content_footer": "",
            "activity_navigation": ""
        },
        "bodyattributes": "",
        "sidepreblocks": "<h2>Side-pre blocks html goes here</h2>",
        "sidepostblocks": "<h2>Side-post blocks html goes here</h2>",
        "hasblocks": true,
        "courseindex": "",
        "courseindexopen": false,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false,
        "secondarymoremenu": false,
        "headercontent": false,
        "overflow": false,
        "addblockbutton": ""
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper" class="d-print-block">
    {{{ output.standard_top_of_body_html }}}

    {{> theme_prime/header }}

    {{#courseindex}}
        {{< theme_boost/drawer }}
            {{$id}}theme_boost-drawers-courseindex{{/id}}
            {{$drawerheadercontent}}
                {{> theme_boost/courseindexdrawercontrols}}
            {{/drawerheadercontent}}
            {{$drawerclasses}}drawer drawer-left {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}}
            {{$drawercontent}}
                {{{courseindex}}}
            {{/drawercontent}}
            {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
            {{$drawerstate}}show-drawer-left{{/drawerstate}}
            {{$tooltipplacement}}right{{/tooltipplacement}}
            {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
        {{/ theme_boost/drawer}}
    {{/courseindex}}

    <div id="page"
         data-region="mainpage"
         data-usertour="scroller"
         class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} drag-container">

        <div id="topofscroll" class="main-inner">

            <div class="drawer-toggles d-flex">
                {{#courseindex}}
                <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                    <button
                        class="btn icon-no-margin"
                        data-toggler="drawers"
                        data-action="toggle"
                        data-target="theme_boost-drawers-courseindex"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="{{#str}}opendrawerindex, core{{/str}}">
                        <span class="sr-only">{{#str}}opendrawerindex, core{{/str}}</span>
                        {{#pix}} t/index_drawer, moodle {{/pix}}
                    </button>
                </div>
                {{/courseindex}}
            </div>

            {{{ output.full_header }}}

            {{#secondarymoremenu}}
            <div class="secondary-navigation d-print-none flex-container" style="justify-content:center;">
                {{> core/moremenu}}
            </div>
            {{/secondarymoremenu}}

            <div id="page-content" class="container pb-3 d-print-block">
                <div id="region-main-box">

                    {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div>{{{ regionmainsettingsmenu }}}</div>
                    </div>
                    {{/hasregionmainsettingsmenu}}
                <div id="region-blocks-bottom" class="mt-4">
                        {{{ addblockbutton }}}
                        
                    </div>
                <div class="flex-container">
                        <div class="col-md-8">{{{ sidepreblocks }}}</div>
                         <div class="col-md-3">{{{ sidepostblocks }}}</div>
                </div>


                    
                    
                    <section id="region-main" aria-label="{{#str}}content{{/str}}">

                        {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}

                        {{{ output.course_content_header }}}

                        {{#headercontent}}
                            {{> core/activity_header }}
                        {{/headercontent}}

                        {{#overflow}}
                        <div class="container-fluid tertiary-navigation">
                            <div class="navitem">
                                {{> core/url_select}}
                            </div>
                        </div>
                        {{/overflow}}

                        {{{ output.main_content }}}

                        {{{ output.activity_navigation }}}

                        {{{ output.course_content_footer }}}

                    </section>
                    
    
                </div>
            </div>

        </div>

        {{> theme_prime/footer }}

    </div>

    {{{ output.standard_after_main_region_html }}}

</div>

</body>
</html>



